
body {
  width: 100%;
}
.menu-btn{
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  z-index: 90;
  cursor: pointer;
  /* background-color: rgb(48, 168, 48); */
}
.menu-btn:hover{
  opacity: 0.5;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after  {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
}
.menu-btn span::before {
  bottom: 8px;
}
.menu-btn span::after{
  top: 8px;
}
#menu-btn-check{
  display: none;
}

#menu-btn-check:checked ~ .menu-btn span{
  background-color: transparent;
}
#menu-btn-check:checked ~ .menu-btn span::before{
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after{
  top: 0;
  transform: rotate(-45deg);
}

.mask{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;

   /* background-image: url(img/portfolio-1.png); */
   /* background-image: url(https://images.unsplash.com/photo-1533745848184-3db07256e163?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2689&q=80);
   background-size: 100%;
   background-repeat: repeat; */
  background-color: white;
  /* pointer-events: none; */
}
#menu-btn-check:checked ~ .mask{
  transform: translateY(-1800px);
  transition: 2.5s;
}

.mask ul{
  list-style: none;
  text-align: center;
}
.mask ul li{
  margin-top: 150px;
}
.mask ul li a{
  font-size: 36px;
  color: black;
  text-decoration: none;
  cursor: pointer;

}

.margin{
  padding: 100px;
  background-color: transparent;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


main img{
  width: 100%;
  /* height: 360px; */
  margin: 30px auto;
}
main img:nth-child(1) {
 margin-bottom: 200px;
}
main img:hover{
  transform: scale(1.01, 1.01);
  box-shadow: 2px 2px black;
  transition: 0.3s;
}

footer{
  margin-top: auto;
  background-color: rgb(27, 235, 250);
  padding: 30px;
  text-align: center;
  width: 640px;
  margin: 80px auto;
}
.btn a{
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 700px) {

  .menu-btn{
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    z-index: 90;
    cursor: pointer;
    /* background-color: rgb(48, 168, 48); */
  }
  main img{
    width:100vh;
    /* height: 360px; */
    margin: 30px auto;
  }
}